services:
  tor-exit:
    build: .
    container_name: tor-exit
    restart: always
    ports:
      - "9001:9001"
    volumes:
      - ./torrc:/etc/tor/torrc
      - ./data:/data

  web:
    image: caddy:2.10.2-alpine@sha256:7f4c19ed8c32f961644681823de1a2fe5b74c84a45d0f3995286010c84b6c554
    container_name: tor-exit-web
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - www:/srv:ro
      - caddy_data:/data
      - caddy_config:/config

  stats-updater:
    image: oven/bun:1.2.4-alpine@sha256:9028ee7a60a04777190f0c3129ce49c73384d3fc918f3e5c75f5af188e431981
    container_name: tor-exit-stats
    restart: always
    volumes:
      - ./update-stats.js:/update-stats.js:ro
      - ./static:/template:ro
      - www:/www
    command: bun run /update-stats.js

volumes:
  caddy_data:
  caddy_config:
  www:
