services:
  tor-exit:
    build: .
    container_name: tor-exit
    restart: always
    ports:
      - "9001:9001"
    volumes:
      - ./torrc:/etc/tor/torrc
      - ./data:/data

  web:
    image: caddy:2.10.2-alpine@sha256:7f4c19ed8c32f961644681823de1a2fe5b74c84a45d0f3995286010c84b6c554
    container_name: tor-exit-web
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./static:/srv:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
